.dropdown-menu {
    border-radius: 4px;
    padding: 10px 0;
    animation-name: dropdown-animate;
    animation-duration: 0.2s;
    animation-fill-mode: both;
    border: 0;
    box-shadow: 0 5px 30px 0 rgba(82, 63, 105, 0.2);
}

.dropdown-menu .dropdown-header,
.dropdown-menu .dropdown-footer {
    text-align: center;
    font-size: 15px;
    padding: 10px 25px;
}

.dropdown-menu .dropdown-footer a {
    color: #444444;
    text-decoration: underline;
}

.dropdown-menu .dropdown-footer a:hover {
    text-decoration: none;
}

.dropdown-menu .dropdown-divider {
    color: #a5c5fe;
    margin: 0;
}

.dropdown-menu .dropdown-item {
    font-size: 14px;
    padding: 10px 15px;
    transition: 0.3s;
}

.dropdown-menu .dropdown-item i {
    margin-right: 10px;
    font-size: 18px;
    line-height: 0;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #f6f9ff;
}

@media (min-width: 768px) {
    .dropdown-menu-arrow::before {
        content: "";
        width: 13px;
        height: 13px;
        background: #fff;
        position: absolute;
        top: -7px;
        right: 20px;
        transform: rotate(45deg);
        border-top: 1px solid #eaedf1;
        border-left: 1px solid #eaedf1;
    }
}

@keyframes dropdown-animate {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

    0% {
        opacity: 0;
    }
}

.toast-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

.toast {
    min-width: 250px;
    margin-bottom: 15px;
    padding: 15px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.5s, transform 0.5s;
    transform: translateY(-20px);
}

.toast.show {
    opacity: 1;
    transform: translateY(0);
}

.toast.hide {
    opacity: 0;
    transform: translateY(-20px);
}

/* Back to Top Button Styles */
#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: #D10024; /* Red background */
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    text-align: center;
    cursor: pointer;
    z-index: 1000;
    transition: background-color 0.3s ease; /* Smooth transition */
}

#back-to-top:hover {
    background-color: #c0392b; /* Darker red on hover */
    color: white;
}

.fa-chevron-up {
    font-size: 20px;
}

.product .add-to-cart .disabled-btn {
    position: relative;
    border: 2px solid transparent;
    height: 40px;
    padding: 0 30px;
    background-color: grey;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 40px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

.product .add-to-cart .disabled-btn:hover {
    background-color: #FFF;
    color: grey;
    border-color: grey;
    padding: 0px 30px 0px 50px;
}

.product .add-to-cart .disabled-btn>i {
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    line-height: 38px;
    color: grey;
    opacity: 0;
    visibility: hidden;
}

.product .add-to-cart .disabled-btn:hover>i {
    opacity: 1;
    visibility: visible;
}

.product-details .add-to-cart .disabled-btn {
    position: relative;
    border: 2px solid transparent;
    height: 40px;
    padding: 0 30px;
    background-color: grey;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 40px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

.product-details .add-to-cart .disabled-btn:hover {
    background-color: #FFF;
    color: grey;
    border-color: grey;
    padding: 0px 30px 0px 50px;
}

.product-details .add-to-cart .disabled-btn>i {
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    line-height: 38px;
    color: grey;
    opacity: 0;
    visibility: hidden;
}

.product-details .add-to-cart .disabled-btn:hover>i {
    opacity: 1;
    visibility: visible;
}